@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Blue400: hsl(180, 66%, 49%);
    --Purple950: hsl(257, 27%, 26%);
    --Gray400: hsl(0, 0%, 75%);
    --Gray500: hsl(257, 7%, 63%);
    --Gray900: hsl(255, 11%, 22%);
    --Gray950: hsl(260, 8%, 14%);
    --Red400: hsl(0, 87%, 67%);
}

body {
    margin: 0;
    font-family: "Poppins", "san-serif";
    margin-inline: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.2rem;
    margin-bottom: 3rem;
}

.left {
    display: flex;
}

.left ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.left ul a {
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: rgb(136, 136, 136);
    cursor: pointer;
}

.right {
    margin: 0.5rem;
}

.right ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.right ul a {
    text-decoration: none;
    padding: 0.2rem 1rem;
    color: gray;
    cursor: pointer;
}

.right ul .active {
    background-color: var(--Blue400);
    color: white;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    transition: all 0.3s ease-in-out;
    background: #000;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 30rem;
}

.content h1 {
    font-size: 3rem;
    margin: 0.5rem;
}

.content p {
    color: gray;
    margin: 0.5rem;
}

.content .btn {
    background: var(--Blue400);
    padding: 0.5rem 1.7rem;
    margin: 0.5rem;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
}

.image img {
    width: 85%;
}

.link-input {
    height: auto;
    background: linear-gradient(to bottom, white 50%, rgb(231, 229, 234) 50%);
}

input {
    padding: 0.6rem 0.3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    outline: none;
    border: none;
    margin: 0.5rem;
    flex: 1;
}

.input-container {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Purple950);
    padding: 1rem 1.5rem;
    position: relative;
    width: min(100%, 40rem);
    border-radius: 0.3rem;
    overflow:hidden;
}

.input-btn {
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: white;
    background: var(--Blue400);
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}

.services {
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(231, 229, 234);
}

.service-content {
    max-width: 30rem;
}

.service-content p{
    color: gray;
}

.cards {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card {
    margin: 2rem;
    max-width: 20rem;
}

.card1 {
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}

.card2 {
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}

.card3 {
    background: #eff1f7;
    padding: 1rem 0.2rem;
    border-radius: 0.3rem;
}

.boost {
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: var(--Purple950);
    padding: 1.8rem;
    position: relative;
    gap: 2rem;
    color: white;
}

.boost .btn {
    background: var(--Blue400);
    padding: 0.5rem 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}

footer {
    display: flex;
    justify-content: space-around;
    background: var(--Gray950)
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-left img {
    color: white;
}

.footer-mid {
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}